<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="toolshed">
    @Html.Partial("_Nav")
    <div class="container body-content">
        
        <div class="row" id="firstRow">
            <div class="col-lg-4">
                <div class="row">
                    <button ng-click="Add()">Add A Tool</button>
                </div>
                <div class="row">
                    <button ng-click="Borrowed()">My Borrowed Tools</button>
                </div>
                <div class="row">
                    <button ng-click="Loaned()">My Loaned Tools</button>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row">                  
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row" id="search">
                    <input type="text" ng-model="searchTools" placeholder="Search" />
                </div>
            </div>
        </div>
        <div class="row" id="secondRow">
            <div class="col-lg-12">
                @RenderBody()
            </div>

        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularjs")
    @RenderSection("scripts", required: false)
</body>
</html>

